header {
  width: 100%;
  height: 80px;
  background-color: #f401b2;
}

.logo {
  margin-left: 10px;
  position: fixed;
}

#logo_img {
  display: inline-block;
  position: fixed;
  width: 55px;
}

#logo_text {
  display: inline-block;
  position: fixed;
  width: 430px;
  margin-left: 60px;
  margin-top: 30px;
}

.nav {
  display: flex;
  background-color: white;
  position: relative;
  text-align: center;
  width: 400px;
  

}